.timerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countBox {
  position: relative;
  width: 74px;
  height: 74px;
  /* border-radius: 8px !important; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
}

@media (max-width: 860px) {
  .countBox {
    width: 50px;
    height: 50px;
  }
}
