.coins {
  position: relative;
  overflow: visible;
}

.coins::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(232, 150, 53, 0.79);
  opacity: 0.8;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: blur(200px);
  z-index: -1;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (max-width: 1000px) {
  .coins::before {
    display: none;
  }
}
