.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialLink {
  display: flex;
  align-items: center;
}

.socialLink > :not(:last-child) {
  margin-right: 16px;
}

@media (max-width: 760px) {
  .section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .section > :not(:last-child) {
    margin-right: 0px;
    margin-top: 1rem;
  }
}
